body{
  margin: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#calculator{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(68, 66, 66);
  max-width: 500px;
  overflow:hidden;
}
#display{
  width:95%;
  padding: 20px;
  font-size: 2rem;;
  text-align: right;
  border:none;
  background-color: rgb(137, 136, 134);
  color: aliceblue;
}
#keys{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
  padding:25px;
}
button{
  width:75px;
  height:75px;
  border-radius: 20px;
  border:none;
  background-color: rgb(137, 131, 131);
  color:white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  background-color: rgb(191, 189, 189);
}
button:active{
  background-color: hsl(0,0%,50%);
}
.operator-btn{
  background-color: orange;
}

.operator-btn:hover{
  background-color: rgb(240, 188, 91);
}
.operator-btn:active{
  background-color: rgb(245, 209, 143);
}